/* Start-varbalies */

/* End-varbalies */
* {
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    min-height: 100vh;;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

@media (max-width: 768px){
    .landing .container  {
        flex-direction: column;
    }
}

@media (max-width: 768px){
    .landing .container .pic .Scarecrow {
        max-width: 100%;
    }
}
/* Start-header */
header {
    padding: 10px;
}

.container .logo {
    text-transform: capitalize;
    font-size: 20px;
}
/* End-header */
/* Start-landing */
.landing {
    padding-top: 30px;
    padding-bottom: 75px;
}

.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing .container .pic .Scarecrow {
    width: 500px;
}

.landing .container .text h2 {
    font-size: 64px;
    letter-spacing: -3px;
}

.landing .container .text p {
    font-size: 18px;
    color: #4f4f4f;
    line-height: 1.6;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

.landing .container .text .btn {
    background-color: transparent;
    color: #fff;
    background-color: #333;
    padding: 10px 13px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
/* End-landing */

/* Start-footer */
footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #ddd;
}
/* End-footer */
